.schedule-wrapper{
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #000;
    /*justify-content: center;*/
}
.schedule-title{
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #000;
}
.weeks-wrapper{
    width: 100%;
    /* display: table-cell;
    flex-wrap: wrap;
    justify-content: space-between; */
}
.week:first-child{
    border-color: #000 !important;
    border-right: 3px solid #000;
    float: left;
    width: 48%;
    flex: 48%;
}
.week:last-child{
    border-color: #000 !important;
    width: 48%;
    float: right;
    border-left: 3px solid #000;
    flex: 48%;
}

.week{
  display: flex;
  flex-wrap: wrap;
}

.week-several{
  width: 48%;
  display: flex;
}

.week-only{
  width: 100% !important;
}
.week-name{
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.weekSchedule {
  width: 100%;
}

.day{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.days-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.day-name{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
}

.pair-item{
    /*padding-right: 5%;*/
    /*padding-left: 5%;*/
    /*border-right: 1px solid #000;*/
    text-align: center;
    width: 24%;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pairs-wrapper{
  width: 100%;
  display: flex;
  border-bottom: 1px solid #000;
}

.pair-item:last-child{
    border-right: none;
}

.pair{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.number{
    width: 4% !important;
}
.spacer{
  width: 4%;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
