Страница просмотра расписания
<!--<pre *ngIf="schedule">{{schedule | json}}</pre>-->
<div class="schedule-wrapper" *ngIf="schedule">
    <div class="schedule-title">{{schedule.name}}</div>
    <div class="weeks-wrapper">
        <div class="week" [ngClass]="{'week-one': !schedule.isSecondWeekExists}" *ngFor="let week of schedule.weeks">
            <div class="week-name" *ngIf="schedule.isSecondWeekExists">{{week.name}}</div>
        </div>
    </div>
    <div class="days-wrapper" *ngIf="scheduleView">
        <div class="day" *ngFor="let day of scheduleView">
            <div class="day" *ngIf="!isEmpty(day)">
                <div class="day-name">{{day.name}}</div>
                <div class="weeks-wrapper">
                        <div class="weekSchedule" style="table-layout: fixed;" border="1" >
                            <div class="pairs-wrapper" *ngFor="let masterPair of day.pairs; let pairNum=index">
                                  <div class="week-several" [ngClass]="{'week-only': !schedule.isSecondWeekExists}">
                                    <div [style.background]="masterPair.pairWeek1.color" class="pair-item number">{{pairNum+1}}</div>
                                    <div [style.background]="masterPair.pairWeek1.color" class="pair-item">{{masterPair.pairWeek1.type}}</div>
                                    <div [style.background]="masterPair.pairWeek1.color" class="pair-item">{{masterPair.pairWeek1.name}}</div>
                                    <div [style.background]="masterPair.pairWeek1.color" class="pair-item">{{masterPair.pairWeek1.teacher}}</div>
                                    <div [style.background]="masterPair.pairWeek1.color" class="pair-item">{{masterPair.pairWeek1.classRoom}}</div>
                                  </div>
                                  <div class="spacer" *ngIf="schedule.isSecondWeekExists"></div>
                                  <div class="week-several" *ngIf="schedule.isSecondWeekExists">
                                    <div [style.background]="masterPair.pairWeek2.color" class="pair-item number">{{pairNum+1}}</div>
                                    <div [style.background]="masterPair.pairWeek2.color" class="pair-item">{{masterPair.pairWeek2.type}}</div>
                                    <div [style.background]="masterPair.pairWeek2.color" class="pair-item">{{masterPair.pairWeek2.name}}</div>
                                    <div [style.background]="masterPair.pairWeek2.color" class="pair-item">{{masterPair.pairWeek2.teacher}}</div>
                                    <div [style.background]="masterPair.pairWeek2.color" class="pair-item">{{masterPair.pairWeek2.classRoom}}</div>
                                  </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
