<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button style="height: 100%; font-size: 16px;" class="title" routerLink="/" (click)="onHomeClick()">Schedule creator</button>
    <div class="button" *ngFor="let button of buttons">
        <button style="height: 100%; font-size: 16px;" mat-button routerLink="{{button.link}}" routerLinkActive="active">{{button.title}}</button>
    </div>
  </mat-toolbar-row>

  <!--<mat-toolbar-row>-->
    <!--<span>Second Line</span>-->
    <!--<span class="example-spacer"></span>-->
    <!--<mat-icon class="example-icon">verified_user</mat-icon>-->
  <!--</mat-toolbar-row>-->

  <!--<mat-toolbar-row>-->
    <!--<span>Third Line</span>-->
    <!--<span class="example-spacer"></span>-->
    <!--<mat-icon class="example-icon">favorite</mat-icon>-->
    <!--<mat-icon class="example-icon">delete</mat-icon>-->
  <!--</mat-toolbar-row>-->
</mat-toolbar>

