<mat-card-title>Инструкция по добавлению</mat-card-title>
<mat-card-content>
    Вы уже дали имя новому расписанию.<br>
    Чтобы изменить, нажмите на <mat-icon>edit</mat-icon> рядом с именем. <br>
    Чтобы начать добавлять пары в новое расписание, можно нажать кнопки "Добавить пару" или "Добавить окно" под
    любым из дней в расписании. <br>
    <br>
    Некоторые другие сочетания клавиш:
    <ul>
        <li>Enter по завершении ввода текущей пары фиксирует текущую пару и переходит ко вводу следующей</li>
        <li>Shift + Enter по завершении ввода текущей пары фиксирует текущую пару и добавляет окно</li>
        <li>Ctrl + Enter по завершении ввода текущей пары фиксирует текущую пару и добавляет новую пару в следующем дне</li>
        <li>Ctrl + Shift + Enter по завершении ввода текущей пары фиксирует текущую пару и добавляет новое окно в следующем дне</li>
    </ul>
</mat-card-content>
<div class="button-wrapper">
    <button type="submit" mat-button (click)="save()">Ок</button>
    <!--<button mat-button (click)="onNoClick()">Отмена</button>-->
</div>