.center {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    color: #777;
    margin-top: 15px;
}

.schedule-wrapper {
    width: 96%;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.add-card {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.settings-component {
    /*width: 100%;*/
    margin-bottom: 15px;
}

.title {
    width: 100%;
}

.weeks-wrapper {
    width: 100%;
}

.pair-wrapper{
    width: 85%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.pair-text{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 4;
    margin-right: 10px;
}

.color-picker{
    position: static!important;
    margin-left: 15px;
}

.all-pair-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.pair-item{
    align-self: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.pair-item-title{
    width: 100%;
}

.pair-item-content{
    width: 100%;
    font-weight: bold;
}


@media screen and (max-width: 999px){
    mat-form-field{
        width: 100%;
    }
    .pair-wrapper{
        justify-content: flex-start;
    }
    .submit-button{
        width: 48%;
    }

    .pair-item{
        align-self: center;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .pair-item-title{
        width: 48%;
    }

    .pair-item-content{
        width: 48%;
        font-weight: bold;
    }

    .color-picker{
        margin-bottom: 10px;
    }


}