.center {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    color: #777;
    margin-top: 15px;
}

.schedule-wrapper {
    width: 96%;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.add-card {
    width: 100%;
    margin-bottom: 15px;
}

.settings-component {
    /*width: 100%;*/
    margin-bottom: 15px;
}

.title {
    width: 100%;
}

.weeks-wrapper {
    width: 100%;
}

.pair-wrapper{
    width: 90%;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-bottom: 15px;
}

.pair-wrapper-edit{
  width: 90%;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.pair-text{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height: 4;
    margin-right: 10px;
}

.color-picker{
    position: static!important;
    margin-left: 15px;
}

.all-pair-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.pair-item{
  margin-right: 10px;
  max-width: 17%;
}

.pair-item-fixed{
  align-self: center;
  text-align: center;
  width: 21%;
  height: 100%;
}

.pair-item-title{
    width: 100%;
}

.pair-item-content{
    width: 100%;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.settings-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.settings-item{
    margin-bottom: 15px;
}

.title-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}
.input-mode{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-block{

}

.submit-button{
  max-width: 17%;
}

@media screen and (max-width: 999px){
    mat-form-field{
        width: 100%;
    }
    .pair-wrapper{
        justify-content: flex-start;
        width: 100%;
    }
    .submit-button{
        width: 48%;
    }
    .pair-item-fixed{
      display: flex;
      align-self: center;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      justify-content: space-between;
    }
    .pair-item{
        width: 100%;
        max-width: 100%;
    }

    .pair-item-title{
        width: 48%;
    }

    .pair-item-content{
        width: 48%;
        font-weight: bold;
    }

    .color-picker{
        margin-bottom: 10px;
    }


}
