<div *ngIf="scheduleService">
    <div class="center" *ngIf="scheduleService && scheduleService.schedules && scheduleService.schedules.length === 0">Ни одного расписания не добавлено</div>
    <mat-card class="schedule-card "*ngFor="let schedule of scheduleService.schedules; let scheduleNum=index" (click)="openSchedule(scheduleNum)">
        <mat-card-title class="full-width" *ngIf="schedule.name">
            {{schedule.name}}
        </mat-card-title>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content>
            <div>Дата создания: {{schedule.createDate | date}}</div>
        </mat-card-content>
    </mat-card>
</div>
<floating-button type="add" [action]="addNewSchedule"></floating-button>